# default grails .gitignore taken from https://github.com/grails/grails-profile-repository/blob/master/profiles/base/skeleton/.gitignore

Thumbs.db
.DS_Store
.gradle
!gradle-wrapper.jar
node_modules/
build/
out/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
